<!--
  Generated template for the PastyearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title >過去の学年</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list inset>
    <button ion-item *ngFor="let year of years" (click)="paststudent(year)">
      {{year}}年
    </button>
  </ion-list>
</ion-content>
