<!--
  Generated template for the TablePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar color="primary" hideBackButton="false" >
  <ion-title>{{DName}}学科{{year}}年</ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>
  <h2>年月変更</h2>
  <h2><ion-datetime  [(ngModel)]="ym" displayFormat="YYYY MM" (ngModelChange)='YMChange()'></ion-datetime></h2>
<ion-list>
  <body>
    <div class = table>
      <table border="1">
      <tr>
        <td bgcolor="#2196F3" align="center"><font color="#FFFFFF" size="4">名前 日付</font></td>
        <td *ngFor="let day of tableday" bgcolor="#2196F3" width="75" align="center"><font color="#FFFFFF" size="4">{{day}}</font></td>
      </tr>
      <tr *ngFor="let list of tablelist; let cnt = index">
        <td align="center"><font size="4">{{list}}</font></td>
        <td *ngFor="let i of tableday; let idx = index" align="center"><font size="4">{{table[idx + (cnt * tableday.length)]?.Status}}</font></td>
      </tr>
      </table>
    </div>
  </body>
</ion-list>
</ion-content>
