page-login {

    ion-title {
        font-size: 50px;
    }

    .InputSize{
        width: 100%;
        margin: 0 auto;
    }

    .buttonedit{
        width: 100%;
        margin:13% auto;
        margin-bottom :10%;
    }

    .form{
        background: #ffffff;
        margin: 3em auto;
        padding: 0 1em;
        max-width: 100%;
        margin: 5%
    }

    .image{
        padding: 0.7em 0;
        width:20%;
        height:20%;
        margin: 0 auto;
    }

    .space{
        padding: 0.8%;
    }

    .uspace{
        margin-bottom: 0.8px
    }

    .BackBasic{
        background:whitesmoke;
    }

    .ion-header {

    }
    

}

