
<ion-header>
  <ion-navbar color="primary">
    <ion-title> <div class = "title"> ログイン </div> </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding div class="BackBasic">

  <div class="form">
    <div class = "image">
      <img src = "../../assets/icon/icon.png">
      </div>
    <ion-item div class="InputSize">
      <ion-label floating> Email </ion-label>
      <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      <span class="highlight"></span>
      <span class ="underline"></span>
    </ion-item>

    <ion-item div class="InputSize">
      <ion-label floating> Password </ion-label>
      <ion-input div type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <button
      ion-button div class="buttonedit" block
      (click)="login(user)"
      [disabled]="!user.email || !user.password" > ログイン </button>
    
      <div class="padding">
          <a (click)="newaccountsend()" block round> <div class="text-color"> アカウント作成 </div> </a>  
        </div>
        <div class="padding">
            <a (click)="tcherlogin()" block round> <div class="text-color"> 先生のログイン </div> </a>  
        </div>
        <div class="padding">
          <a (click)="passsend()" block round>パスワード再設定</a>  
      </div>
      <br>
  </div>

</ion-content>