<!--
  Generated template for the LessonPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>授業出席登録</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="form">
      <div class = "text1" > 現在時刻 </div>
      <div class = "year"> {{ now | async | date:'yyyy年 ' }} </div>
      <div class = "month"> {{ now | async | date:'MM月' }} </div>
      <div class = "day"> {{ now | async | date:'dd日' }} </div>
  
      <div class = "timer" >{{ now | async | date:'HH:mm:ss' }} </div>
  
    <button ion-button (click)="startScan()"> {{text}} </button>
    <div class = "text" >登校登録を行います。ビーコンに近づいてボタンを押してください</div>
  </div>

  <div class = "text1" >あなたの今日の出席情報は</div>

  <div class = "text1" *ngFor="let item of items | async">
    {{item.key}} {{item.data}}
  </div>

</ion-content>
