<ion-tabs>
  <ion-tab [root]="homePage" tabTitle="登校登録" tabIcon="home"></ion-tab>
  <ion-tab [root]="lessonPage" tabTitle="出席登録" tabIcon="copy"></ion-tab>
  <ion-tab [root]="recordsPage" tabTitle="記録" tabIcon="albums"></ion-tab>
  <ion-tab [root]="analyticsPage" tabTitle="グラフ" tabIcon="analytics"></ion-tab>
  <ion-tab [root]="logoutPage" tabTitle="ログアウト" tabIcon="log-out"></ion-tab>
</ion-tabs>
