page-teacherlogin {
    .BackBasic{
        background:whitesmoke;
    }
    
    .form{
        background: #ffffff;
        margin: 3em auto;
        padding: 0 1em;
        max-width: 100%;
        margin: 5%
    }
    
    .buttonedit{
        width: 100%;
        margin:13% auto;
        margin-bottom :10%;
    }
}

