<ion-header>
    <ion-navbar color="primary">
      <ion-title> <div class = "title"> 先生用ログイン </div> </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding div class="BackBasic">
    <div class="form">
      <ion-item div class="InputSize">
        <ion-label floating> Email </ion-label>
        <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
  
      <ion-item div class="InputSize">
        <ion-label floating> Password </ion-label>
        <ion-input type="password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
  
    <div padding>
      <button
        ion-button div class="buttonedit" color="primary" block
        (click)="login(user)"
        [disabled]="!user.email || !user.password" > ログイン </button>
    </div>
    <div class="padding">
        <a (click)="studentlogin()" block round> <div class="text-color"> 生徒ログインへ </div> </a>  
    </div>
    <br>
  </div>
 </ion-content>