<!--
  Generated template for the LogoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="primary">
    <ion-title>ログアウト</ion-title>
  </ion-navbar>

</ion-header>


<ion-content  padding div class="BackBasic">
    <div class="form">
    <div class="padding">
        ログアウトするにはこちらから<br>
        <button ion-button (click)="logout()">Logout</button><br> 
      </div>

    <div class="padding">
        退会するにはこちらから<br>
        <button ion-button (click)="Unsubscribe()">Unsubscribe</button><br> 
        *退会処理を行うとアカウントが削除されます
      </div>
    </div>
</ion-content>
