page-logout {

    .padding{
        text-align:center;
        margin-bottom: 4%;
    }

    .BackBasic{
        background: whitesmoke;
    }

    .form{
        background: #ffffff;
        margin: 3em auto;
        padding: 0 1em;
        max-width: 100%;
        margin: 5%
    }
}
