<!--
  Generated template for the ListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>List</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding div class="BackBasic">

</ion-content>
