<!--
  Generated template for the LesssonrecPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>出席記録</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding div class="BackBasic" >
  <ion-list inset>
      <!--出欠編集-->
        <ion-item div class="InputSize" *ngFor="let item of items | async">
           {{item.key}} {{item.data}}
        </ion-item>
  </ion-list>
</ion-content>
