page-lesssonrec {
    
    .line{
        
    }

    .item{
        border-left: solid 6px #2d8fdd;/*左側の線*/
    }
    

    .InputSize{
        font-size:130%;
        //margin-bottom: 1%;/*下のバーとの余白*/
        //padding: 1.0em;
    }

}
