<!--
  Generated template for the NewaccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title> <div class = "title"> アカウント新規作成 </div> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content div class="BackBasic">
    <ion-list inset>
      <!--名前-->
      <ion-item div class="InputSize">
          <ion-label floating>名前</ion-label>
          <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <!--学籍番号-->
      <ion-item div class="InputSize">
          <ion-label floating>学籍番号</ion-label>
          <ion-input type="number" [(ngModel)]="number"></ion-input>
      </ion-item> 
      <!--学科-->
      <ion-item div class="InputSize">
        <ion-label>学科</ion-label>
        <ion-select [(ngModel)]="Deper" (ngModelChange)='onChangeDeper()' text-center interface="popover">
          <ion-option value="{{ditem.key}}" *ngFor="let ditem of ditems | async" text-center>{{ditem.data}}学科</ion-option>
        </ion-select>
      </ion-item>
      <!--学年-->
      <ion-item div class="InputSize">
        <ion-label>学年</ion-label>
        <ion-select [(ngModel)]="Year" interface="popover">
          <ion-option value="{{yitem.key}}" *ngFor="let yitem of yitems | async">{{yitem.key}}年</ion-option>
        </ion-select>
      </ion-item>  
      <!--メールアドレス-->
      <ion-item div class="InputSize">
          <ion-label floating>メールアドレス</ion-label>
          <ion-input type="email" [(ngModel)]="user.email"></ion-input>
      </ion-item>
      <!--パスワード-->
      <ion-item div class="InputSize">
          <ion-label floating>パスワード</ion-label>
          <ion-input type="Password" [(ngModel)]="user.password"></ion-input>
      </ion-item>
    <!--新規作成-->
    <div padding>
      <button
      ion-button div class="buttonedit" color="primary" block
      (click)="newaccount(user)" [disabled]="!user.email || !user.password || !name || !number"> 新規作成 </button>
    </div>
    <div class="padding">
      <a (click)="Loginsend()" block round> <div class="text-color"> 生徒ログインへ </div> </a>  
    </div> 
    <br> 
  </ion-list>
</ion-content>
