page-newaccount {
    .BackBasic{
        background:whitesmoke;
    }
    
    ion-list{
        background:rgb(255, 255, 255);
    }
    
    .InputSize{
        width: 90%;
        margin: 0 auto;
    }

}

