<!--
  Generated template for the LessoneditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>出席情報編集</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="BackBasic">
  <ion-list inset>
  <!--出欠編集-->
    <ion-item div class="InputSize" *ngFor="let item of items | async">
      <ion-label>{{item.key}} {{item.data}}</ion-label>
      <ion-select  [ngModel]="Lesson" (ngModelChange)='onChange($event,item.key)' text-center interface="popover">
        <ion-option [value]="'出席'" [selected]="item.data == '出席'" text-center>出席</ion-option>
        <ion-option [value]="'欠席'" [selected]="item.data == '欠席'" text-center>欠席</ion-option>
        <ion-option [value]="'遅刻'" [selected]="item.data == '遅刻'" text-center>遅刻</ion-option>
        <ion-option [value]="'早退'" [selected]="item.data == '早退'" text-center>早退</ion-option>
        <ion-option [value]="'公欠'" [selected]="item.data == '公欠'" text-center>公欠</ion-option>
        <ion-option [value]="'削除'" text-center>削除</ion-option>
      </ion-select>
    </ion-item>
    <div class="space"> <br></div>
    <ion-item div class="Edit">
      <ion-label>状態選択</ion-label>
      <ion-select  [(ngModel)]="addles" text-center interface="popover">
        <ion-option value="出席" text-center>出席</ion-option>
        <ion-option value="欠席" text-center>欠席</ion-option>
        <ion-option value="遅刻" text-center>遅刻</ion-option>
        <ion-option value="早退" text-center>早退</ion-option>
        <ion-option value="公欠" text-center>公欠</ion-option>
      </ion-select>
    </ion-item>

    <ion-item div class="Edit">
      <ion-label>時間選択</ion-label>
      <ion-select  [(ngModel)]="lesrec" text-center interface="popover">
        <ion-option value="1限目" text-center>1限目</ion-option>
        <ion-option value="2限目" text-center>2限目</ion-option>
        <ion-option value="3限目" text-center>3限目</ion-option>
        <ion-option value="4限目" text-center>4限目</ion-option>
        <ion-option value="5限目" text-center>5限目</ion-option>
        <ion-option value="6限目" text-center>6限目</ion-option>
        <ion-option value="7限目" text-center>7限目</ion-option>
      </ion-select>
    </ion-item>
<br>
    <div padding>
      <button
        ion-button color="primary" block
        (click)="addlesson()" [disabled]="!addles || !lesrec"> create 
      </button>
    </div>
  </ion-list>
</ion-content>
