page-home {


  .item{
    position: relative;
    left: 40%; /* リスト全体であるul要素を右に50%移動。つまり先頭を中央に持ってくる感じです。 */
    float: left;
    font-size: 200%
  }

  .text{
    margin-top:2%;
    //font-size: 200%;
    text-align:center;
    margin-bottom :1%;
  }

  .text1{
    margin-top:2%;
    font-size: 200%;
    text-align:center;
    margin-bottom :1%;
  }

  .year{
    padding: 1%;
    font-size: 200%;
    text-align:center;
    margin-bottom :1%;
  }

  .month{
    padding: 1%;
    font-size: 190%;
    text-align:center;
    margin-bottom :1%;
  }
  
  .day{
    padding: 1%;
    font-size: 190%;
    text-align:center;
    margin-bottom :1%;
  }

  .timer{
    padding: 1%;
    font-size: 190%;
    text-align:center;
  }

  .button{
    width: 100%;
    margin:5% auto;
    margin-bottom :5%;
  }

  .form{
    background: #ffffff;
    margin: 3em auto;
    padding: 0 1em;
    max-width: 100%;
    max-height: 100%;
    margin: 5%
}
}

* {
    font-family: "my-cool-font" !important;
  } 
