<ion-header>
  <ion-navbar color="primary">
    <ion-title> <div class = "title">
<!--    <button secondary ion-button>
    <ion-icon name="more"></ion-icon>
    </button>-->
      登校情報登録
    </div>
    </ion-title>
  </ion-navbar>
</ion-header>

  <ion-content padding>
    <div class="form">
    <div class = "text1" > 現在時刻 </div>
    <div class = "year"> {{ now | async | date:'yyyy年 ' }} </div>
    <div class = "month"> {{ now | async | date:'MM月' }} </div>
    <div class = "day"> {{ now | async | date:'dd日' }} </div>

    <div class = "timer" >{{ now | async | date:'HH:mm:ss' }} </div>

  <button ion-button (click)="startScan()"> {{text}} </button>
  <div class = "text" >登校登録を行います。ビーコンに近づいてボタンを押してください</div>

<div class = "text1" >あなたの今日の登校状態と登校時刻は</div>

  <div class = "text1" *ngFor="let item of items | async">
    {{item.key}}{{item.data}}
  </div>


</div>



 
  </ion-content>

