page-choicedepar {
    ion-list{
        //border: solid 3px#488aff;/*線の種類 太さ 色*/
        //padding: 0.5em 0em 0em 0.5em;/*ボックス内の余白*/
    }

    .item{
        //line-height: 1.5; /*文の行高*/
        //padding: 0.1em 0; /*前後の文との余白*/
        border-left: solid 6px #2d8fdd;
    }

}
