<!--
  Generated template for the ChoicedeparPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title><div class = "title"> 学科選択 </div></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding div class="BackBasic">

  <ion-list inset>
    <button ion-item *ngFor="let ditem of ditems | async" (click)="itemSelected(ditem.key, ditem.data)" class="item"><!---->
      <div >
          ・ {{ ditem.data }}学科
      </div>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab><ion-icon name="arrow-dropleft"></ion-icon></button>
    <ion-fab-list side="left">
      <button ion-fab (click)="sendadd()"><ion-icon name="add" ></ion-icon></button>
      <button ion-fab (click)="sendedit()"><ion-icon name="more" ></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
