page-deperadd {
    .InputSize{
        width: 100%;
        margin: 0 auto;
    }

    ion-list{
        background: #ffffff;
        margin: 3em auto;
        padding: 0 1em;
        max-width: 100%;
        margin: 5%
    }
}
