<!--
  Generated template for the DeperaddPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title> <div class = "title"> 学科追加 </div> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content div class="BackBasic">
  <ion-list inset>
      <!--学科名-->
      <ion-item div class="InputSize">
        <ion-label floating>学科名</ion-label>
        <ion-input type="text" [(ngModel)]="name"></ion-input>
      </ion-item>
      <!--学年-->
    <ion-item div class="InputSize">
      <ion-label>学年</ion-label>
      <ion-select [(ngModel)]="year" interface="popover">
        <ion-option value="1">1学年</ion-option>
        <ion-option value="2">2学年</ion-option>
        <ion-option value="3">3学年</ion-option>
      </ion-select>
    </ion-item>
    <!--新規作成-->
    <div padding>
      <button
      ion-button div class="buttonedit" color="primary" block 
      (click)="newdeper()" [disabled]="!name || !year"> 学科作成 </button>
    </div>
  </ion-list>
</ion-content>
