<!--
  Generated template for the ChoiceyearPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="primary">
    <ion-title> <div class = "title"> 学年選択 </div> </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding div class="BackBasic">
  <ion-list inset>
    <button ion-item *ngFor="let yitem of yitems | async" (click)="itemSelected(yitem.key)">
      ・ {{yitem.key}}年
    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="pastyearsend()"><ion-icon name="undo"></ion-icon></button>
  </ion-fab>  
</ion-content>
