// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/*
//タイトルのデザイン
.title {
    text-align: center;
    font-size: 200%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

//使ってないかも(一応消さないで)
.text {
    text-align: center;
    font-size: 150%;
}

//実験したやつお気になさらず
.jikken {
    background: #f53f
}

//背景の灰色(クラスの位置を間違えないようにね)
.BackBasic {
    background: rgb(202, 201, 201)
}

//こいつも多分使ってないけど一応ね
.loginbutton {
    background: #649cfd;
}


//遷移のボタン(テキスト)のデザイン
.padding {
    text-align: center;
    font-size: 150%;
}

//遷移のボタンをフォーカスした際のデザイン
.text-color:focus,.text-color:hover{
    color:#0151db;
}

//ボタンのフォントサイズ
.buttonedit {
    font-size: 150%;
}

//入力欄の文字サイズ変更
.InputSize {
    text-align: left;
    font-size: 150%;
}

//下線
ion-input {
    border: none;
    outline: 0;
    border-bottom: 3px solid #3737ff;
}

/*フォーカスされたら色変えようと思ったけどダメでした
.underline {
    width: 200px;
    height: 3px;
    background: skyBlue;
    transform-origin: center center;
    transform: scaleX(0);
    transition: transform 0.18s ease-out;
  }

  ion-input:focus + .underline {
    transform: scaleX(1);
  }
  */

  .padding{
      text-align:center;
      margin-bottom: 4%;
  }
  
  .BackBasic{
    background: whitesmoke;
}