<ion-nav [root]="rootPage"></ion-nav>

<!--スプラッシュ実験１
<div *ngIf="showSplash" class="splash">
    <div class="spinner"></div>
  </div>
-->
  
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
