<!--
  Generated template for the PassmailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>パスワードのリセット</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="BackBasic">
  <ion-list>
    <ion-item>
      <ion-label floating> Email </ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
  <div padding>
    <button
      ion-button color="primary" block
      (click)="passsend()"
      [disabled]="!email" > 送信 </button>
  </div>
</ion-list>
</ion-content>
