<!--
  Generated template for the PastattendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
      <ion-title>{{Name}} 出欠率{{(sumday - ((late / 3 | roundup) + ab)) / sumday | percent}}</ion-title>
    </ion-navbar>
  
</ion-header>


<ion-content padding>
  <ion-list inset>
      <ion-item>
          <ion-label>年月変更</ion-label>
          <ion-datetime  [(ngModel)]="Year" displayFormat="YYYY MM" (ngModelChange)='YMChange()'></ion-datetime>
        </ion-item>    
    <!--データの受け取り-->
    <ion-item *ngFor="let item of items | async">
      {{item.key}} {{item.Status}}
    </ion-item>
  </ion-list>  
</ion-content>
