<!--
  Generated template for the DepereditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title><div class = "title"> 学科編集 </div> </ion-title>
  </ion-navbar>

</ion-header>


<ion-content div class="BackBasic">
  <ion-list inset>
    <ion-item div class="InputSize">
      <ion-label>現在の学科名</ion-label>
      <ion-select [(ngModel)]="Deper" interface="popover">
        <ion-option value="{{item.key}}" *ngFor="let item of items | async">{{item.data}}学科</ion-option>
      </ion-select>
    </ion-item>  
    <!--変更学科名-->
    <ion-item div class="InputSize">
      <ion-label floating>学科名の変更</ion-label>
      <ion-input type="text" [(ngModel)]="rename"></ion-input>
    </ion-item>
    <br>
    <div padding>
      <button
      ion-button div class="buttonedit" color="primary" block
      (click)="editdeper()" [disabled]="!rename || !Deper"> 編集完了 </button>
    </div>
    <div padding>
      <button
      ion-button div class="buttonedit" color="primary" block
      (click)="removedeper()" [disabled]="!Deper"> 学科削除 </button>
    </div>  
  </ion-list>  
</ion-content>
  