page-recordedit {
    .Edit{
        border-left: solid 6px #64DD17;/*左側の線*/
        padding-top: 0.5%;
    }

    .InputSize{
        border-left: solid 6px #2d8fdd;
        padding-bottom: 0.3%;
    }

    .BackBasic{
        background:whitesmoke;
    }

    .space{
        background:whitesmoke;
        border-bottom-color: whitesmoke;
    }
}
