<!--
  Generated template for the RecordeditPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>登校記録編集</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="BackBasic">
  <ion-list inset>
    <ion-item>
      <ion-label>年月変更</ion-label>
      <ion-datetime  [(ngModel)]="yearmonth.ym" displayFormat="YYYY MM" (ngModelChange)='YMChange()'></ion-datetime>
    </ion-item>
    <!--出欠編集-->
    <ion-item div class="InputSize" *ngFor="let item of items | async">
      <ion-label>{{item.key}} {{item.Status}}</ion-label>
      <ion-select  [ngModel]="Record" (ngModelChange)='onChange($event,item.key)' text-center interface="popover">
        <ion-option [value]="'出席'" [selected]="item.Status == '出席'" text-center>出席</ion-option>
        <ion-option [value]="'欠席'" [selected]="item.Status == '欠席'" text-center>欠席</ion-option>
        <ion-option [value]="'遅刻'" [selected]="item.Status == '遅刻'" text-center>遅刻</ion-option>
        <ion-option [value]="'早退'" [selected]="item.Status == '早退'" text-center>早退</ion-option>
        <ion-option [value]="'公欠'" [selected]="item.Status == '公欠'" text-center>公欠</ion-option>
        <ion-option [value]="'削除'" text-center>削除</ion-option>
      </ion-select>
    </ion-item>
    <div class="space"> <br></div>
    <ion-item>
      <ion-label>月日</ion-label>
      <ion-datetime  [(ngModel)]="ymd" displayFormat="YYYY MM DD" pickerFormat="YYYY MM DD"></ion-datetime>
    </ion-item>
    <ion-item div class="Edit">
      <ion-label>状態選択</ion-label>
      <ion-select  [(ngModel)]="addrec" text-center interface="popover">
        <ion-option value="出席" text-center>出席</ion-option>
        <ion-option value="欠席" text-center>欠席</ion-option>
        <ion-option value="遅刻" text-center>遅刻</ion-option>
        <ion-option value="早退" text-center>早退</ion-option>
        <ion-option value="公欠" text-center>公欠</ion-option>
      </ion-select>
    </ion-item>
    <div padding>
      <br>
      <button
        ion-button color="primary" block (click)="addrecord()" [disabled]="!addrec"> creat 
      </button>
    </div>  
  </ion-list>
</ion-content>
