<!--
  Generated template for the RecordsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color ="primary">
    <ion-title>登校記録</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding> 
<div>
    <ion-label>年月変更
    <ion-datetime  [(ngModel)]="yearmonth.ym" displayFormat="YYYY MM" (ngModelChange)='YMChange()'></ion-datetime>
    </ion-label>
  </div>
  <ion-list inset>
    <!--データの受け取り-->
     <button ion-item *ngFor="let item of items | async" (click)="itemSelected(item.key)">
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
          {{item.key}} 日　{{item.Status}} 
    
    </button>
  </ion-list>
</ion-content>
