<!--
  Generated template for the AnalyticsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>グラフ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-item>年月変更
    <ion-datetime  [(ngModel)]="yearmonth.ym" displayFormat="YYYY" (ngModelChange)='YMChange()'></ion-datetime>
  </ion-item>

    <div>
          <div style="display: block">
          <canvas baseChart
                      [datasets]="barChartData"
                      [labels]="barChartLabels"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType"></canvas>
          </div>
        </div>
        <div text-center>
        <button ion-button (click)="Output()">今年の月ごとの出席日数を表示</button>
      </div>
</ion-content>
