<!--
  Generated template for the AttendPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{Name}} 出欠率{{(sumday - ((late / 3 | roundup) + ab)) / sumday | percent:'2.1-1'}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content no-bounce div class="BackBasic">
  <ion-list inset>
      <ion-item>
          <ion-label>年月変更</ion-label>
          <ion-datetime  [(ngModel)]="yearmonth.ym" displayFormat="YYYY MM" (ngModelChange)='YMChange()'></ion-datetime>
        </ion-item>    
    <!--データの受け取り-->
    <button ion-item *ngFor="let item of items | async" (click)="itemSelected(item.key)" class ="items">
      <!--<ion-thumbnail item-start>
        <img src="img/thumbnail-totoro.png">
      </ion-thumbnail>-->
      <h2>{{item.key}} {{item.Status}}</h2>
    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="sendedit()"><ion-icon name="more"></ion-icon></button>
  </ion-fab>  
</ion-content>
