<!--
  Generated template for the StudentlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.

-->

<ion-header >
    <ion-navbar color="primary" hideBackButton="false" >
      <ion-title>学年一覧 {{month}}/{{day}}</ion-title>
    </ion-navbar>
  
  </ion-header>


<ion-content padding div class="BackBasic">
  <!--データの受け取り-->
  <ion-list inset>
    <button ion-item *ngFor="let item of items | async; let idx = index " (click)="itemSelected(item.key, item.Name)">
      <div class="item">
      ・ {{item.Name}} {{dayArray[idx]?.Status }}
    </div>
    </button>
  </ion-list>
  <ion-fab right bottom>
    <button ion-fab (click)="send()"> <ion-icon ios="ios-grid" md="md-grid"></ion-icon></button>
  </ion-fab>  

</ion-content>
