<!--
  Generated template for the PaststudentlistPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>過去の出席記録</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--データの受け取り-->
  <ion-list inset>
      <button ion-item *ngFor="let item of items | async" (click)="itemSelected(item.key, item.Name)">
        {{item.Name}}
      </button>
    </ion-list>  
</ion-content>
